.block {
  padding: 4.2rem 0 8rem 12rem;

  @media (max-width: 1400px) {
    padding-inline: 25px;
  }
}


.content {
  display: flex;
  gap: 8.4rem;

  @media (max-width: 1250px) {
    gap: 5rem;
  }
}

.radio-btns {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.left {
  @media (max-width: 1250px) {
    width: 40%;
  }
}

.right {
  max-width: 601px;
  width: 100%;
  flex: 1;
}

.divider {
  margin-bottom: 0 !important;
}

.orders {
  margin-top: 0;

  &:first-child {
    border-top: none !important;
  }
}
