.drop {
  background-color: #0A0A0A;

  &__separator {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;

    @media (max-width: 1200px) {
      padding: 0 2rem;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__inner__content {
    z-index: 120;
    position: relative;
  }
}
