.block {
  top: 0;
  overflow-y: scroll;
  right: -600px;
  z-index: 9999;
  font-family: 'Halvar Breitschrift', sans-serif;
  position: absolute;
  height: 100%;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid rgba(18, 18, 18, 0.2);
  animation: content-enter .3s ease-in-out forwards;
  box-shadow: 0 8px 8px 8px #1018280A;
}

.content {
  width: 100%;
}

@keyframes content-enter {
  0% {
    right: -600px;
  }

  100% {
    right: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 24px;

  h2 {
    font-size: 28px;

    @media (max-width: 1600px) {
      font-size: 24px;
    }
  }

  figure {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    object-position: center;
    object-fit: cover;

    * {
      fill: #000;
    }
  }
}

.btn {
  margin-top: 7.2rem;
  font-size: 24px;
  width: 100%;

  button {
    width: 100%;
    height: 54px;
    display: flex;
    font-size: inherit;
    justify-content: center;
    font-weight: 500;
    font-family: inherit;
    line-height: 22px;
    cursor: pointer;
    align-items: center;
    border: none;
    background-color: #121212;
    color: #fff;

    @media (max-width: 1200px) {
      height: 48px;
    }

    @media (max-width: 500px) {
      height: 40px;
      font-size: 14px
    }
  }

  @media (max-width: 1600px) {
    font-size: 18px;
  }

  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.form {
  padding: 72px 0 30px;
}