.privacy {
  background: #010101;
  margin: 0;
  padding: 15px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Halvar Breitschrift", sans-serif;

  &__container {
    width: calc(100vw - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
	margin: 42px 0;
    font-size: 45px;

  }

  &__logo {
    width: 218.85px;
    height: 74.361px;
  }

  &__text {
    width: calc(100vw - 80px);
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  @media (max-width: 1600px) {
    font-size: 20px;
  }
  }
}
