.drop {
  &__buttons {
    font-family: 'Halvar Breitschrift', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    max-height: 110px;
  }

  &__select {
    background-color: white;
    height: 40px !important;
    font-size: 16px !important;
    max-width: 160px;
    font-weight: 700 !important;
    border-radius: 0 !important;

    @media (max-width: 880px) {
      flex-grow: 1;
    }

    @media (max-width: 470px) {
      max-width: 100%;
    }

    &__disabled {
      background-color: white;
    }
  }

  &__container {
    display: flex;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 880px) {
      gap: 50px;
    }

    @media (max-width: 470px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }
  }

  &__input {
    max-width: 605px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: #121212;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-family: 'Halvar Breitschrift', sans-serif;

    &::placeholder {
      color: #121212;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 20.8px */
      text-transform: uppercase;
    }
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__button {
    height: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: #121212;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
  }

  &__button__selected {
    transition: .1s ease;
    color: #fff;
    background-color: #2F2F2F;

    &:hover {
      opacity: 1;
    }
  }

}