.block {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.inner-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  padding: 10px;
  transform: translateY(-40px);
  animation: button-enter .2s ease-in forwards;
  border-radius: 10px;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 #1018280D;
  max-height: 44px;
  color: #FFFFFF;
  background-color: rgba(35, 35, 35, 0.3);
  transition: background-color .1s ease-out;

  &:disabled:not(.loading-btn) {
    background-color: #BDBDBD;
  }

  &:hover {
    background-color: #232323;
  }
}

@keyframes button-enter {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}