.block {
  padding-bottom: 33px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  list-style: none;
  width: 100%;

  @media (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    grid-template-columns: 80%;
    justify-content: center;
  }

  @media (max-width: 400px) {
    grid-template-columns: 100%;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 15px;
  font-family: "Halvar Breitschrift", sans-serif;
  padding-bottom: 33px;
  justify-content: center;
}

.item {
  width: 100%;
}