@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: normal;
  src: url("Gotham-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  font-style: normal;
  src: url("Gotham-Book.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  font-style: normal;
  src: url("Gotham-Medium.otf") format("opentype");
  font-display: swap;
}