.table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

.loader {
  margin: 3rem 0;
}

.body {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 45px;
  border-bottom: 1px solid #E5E5E5;
}

.centered-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  text-align: left;
  flex: 1;

  color: #232323;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  opacity: 0.6;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  flex-shrink: 0;
  padding: 12px 8px;
}

.priority-cell {
  flex: 2 !important;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  input {
    width: 18px;
    height: 18px;
  }
}

.limited-cell-83 {
  max-width: 83px;
  cursor: pointer;
}

.limited-cell-100 {
  max-width: 100px;
}

.limited-cell-121 {
  max-width: 121px;
}
