.table {
  width: 100%;
}

.body {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header-row {
  min-height: 45px;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  display: flex;
  align-items: center;
}

.row {
  min-height: 73px;
  &:not(&:last-child) {
    border-bottom: 1px solid #E5E5E5;

  }
}

.header-cell {
  color: #232323;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  opacity: 0.6;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  flex-shrink: 0;
  padding: 12px 0;
}

.checkbox-cell {
  max-width: 100px;
  width: 100%;
  padding-left: 4rem;
}

.image-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 121px;
  width: 100%;
}

.name-cell {
  max-width: 253px;
  width: 100%;
  padding-left: 2rem;
}

.description-cell {
  max-width: 164px;
  width: 100%;
}

.collection-cell {
  max-width: 197px;
  width: 100%;
  padding-left: 2.4rem;
}

.price-cell {
  max-width: 83px;
  width: 100%;
}

.discount-cell {
  max-width: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-cell {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-cell {
  max-width: 83px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible-cell {
  max-width: 83px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-cell {
  max-width: 83px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

