@font-face {
  font-family: 'Halvar Breitschrift';
  font-weight: 800;
  font-style: normal;
  src: url("./HalvarBreit-XBd.ttf") format('truetype');
}

@font-face {
  font-family: 'Halvar Breitschrift';
  font-weight: 700;
  font-style: normal;
  src: url("./HalvarBreit-Bd.ttf") format('truetype');
}

@font-face {
  font-family: 'Halvar Breitschrift';
  font-weight: 500;
  font-style: normal;
  src: url("./HalvarBreit-Md.ttf") format('truetype');
}

@font-face {
  font-family: 'Halvar Breitschrift';
  font-weight: 400;
  font-style: normal;
  src: url("./HalvarBreit-Rg.ttf") format('truetype');
}

@font-face {
  font-family: 'Halvar Breitschrift';
  font-weight: 300;
  font-style: normal;
  src: url("./HalvarBreit-Lt.ttf") format('truetype');
}
