.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #121212;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 42px;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.menu-bars:hover {
  opacity: 0.7;
}

.close-btn {
  background: none;
  margin-left: 250px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.close-btn:hover {
  opacity: 0.7;
}

.nav-menu {
  background-color: #121212;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 3;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
  list-style: none;
  transition: 0.3s ease-in;
}

.nav-text:hover {
  opacity: 0.7;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #121212;
}

.nav-menu-items {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  background-color: #121212;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.span {
  margin-left: 40px;
}

.navbar-about {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.8px;
  max-width: 230px;
  left: 40px;
  bottom: 42px;
  position: absolute;
  margin: 0;
  padding: 0;
}

.navbar-logo {
  width: 111px;
  height: 35px;
  transition: 0.3s ease-in;
}

.navbar-logo:hover {
  opacity: 0.7;
}

.navbar-ru {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.6px;
  background-color: #121212;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.navbar-ru:hover {
  opacity: 0.7;
}

.navbar-cart {
  width: 35px;
  height: 35px;
  margin: 0;
  background-color: #121212;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.navbar-cart:hover {
  opacity: 0.7;
}

.navbar-right {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 42px;
}
