.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title {
  font-family: 'Halvar Breitschrift', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 24px;
}

.note {
  margin-top: 6px;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #7b7b7b;

  @media (max-width: 1600px) {
    font-size: 16px;
  }
}


.btn {
  font-size: 20px;
  width: 100%;

  button {
    max-width: 410px;
    width: 100%;
    height: 48px;
    display: flex;
    font-size: inherit;
    justify-content: center;
    font-weight: 500;
    font-family: inherit;
    line-height: 22px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    border: none;
    background-color: #121212;
    color: #fff;
    text-transform: uppercase;
  }

  @media (max-width: 1600px) {
    font-size: 16px;
  }

  @media (max-width: 351px) {
    font-size: 14px;
  }
}