.block {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.blur {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(30px);
  z-index: 1200;
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  top: 20px;
  position: relative;
  height: max-content;
}

.btns {
  margin-top: 20px;

  img {
    cursor: pointer;
    max-width: 300px;
  }
}