.card {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: black;
  height: 100%;

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 12px;
  }

  &__title {
    color: #fff;
    text-align: center;
    font-size: 17.275px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.653px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &__price-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  &__price {
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15.795px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.323px;
    margin: 0;
    padding: 0;
  }

  &__sale {
    color: #bdbdbd;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15.795px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.323px;
    margin: 0;
    padding: 0;
	text-decoration: line-through;
  }
}
