.component {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 313px;
  height: 100%;

  @media screen and (min-width: 1024px) {
    width: 31.3rem;
  }

  @media (max-width: 1200px) {
    width: 250px;
  }
}

.block {
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 56px 20px;
  flex-direction: column;
  justify-content: space-between;
}

.aside-separator {
  background: rgba(35, 35, 35, 0.15);
  height: 100%;
  width: 1px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: center;
}

.menu-item {
  width: 100%;
  padding: 8px 12px;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.menu-item__selected {
  background-color: #232323;
  border-radius: 8px;
  color: #fff;
}


.user {
  justify-self: flex-end;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #232323;
  opacity: .3;
}

.user-block {
  padding-top: 24px;
}

.user-inner-block {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.ava-block {
  display: flex;
  align-items: center;
}

.ava-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.user-text {
  color: #232323;

  /* Text sm/Medium */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.name {
  opacity: 0.6;
}

.logout {
  cursor: pointer;
}
