@import 'fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1366px) {
    font-size: calc(100vw / 1024 * 10);
  }

}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: #232323;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
