.main {
  width: 100%;
  padding: 56px 20px 56px calc(31.3rem + 2.8rem);

  @media screen and (min-width: 1700px) {
    padding-right: 16.1rem;
  }

  @media screen and (max-width: 1200px) {
    padding-left: calc(250px + 2.8rem);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.header {
  margin-bottom: 18px;
}
