.item {
  background: black;
  background-image: url(../../assets/images/back-card.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 1212px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 140px;
  column-gap: 5vw;

  &__image-container {
    display: flex;
    flex-direction: column;
    max-width: 688px;
  }
  &__image {
    width: 100%;
    background-color: #fff;
  }

  &__container {
    max-width: 727px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    color: #fff;

    font-family: Halvar Breitschrift;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 84.375% */
    margin: 0 0 25px;
  }

  &__info {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.6px;
      span {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21.6px;
        opacity: 0.6;
        margin: 0;
      }
    }
  }
  &__price {
    color: #fff;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    margin-right: 12px;
    margin: 32px 0 42px 0;
    span {
      color: #bdbdbd;
      font-family: Arial;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.6px;
      text-decoration: line-through;
      margin: 0 0 0 12px;
    }
  }

  &__size-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__size-button {
    border-radius: 170px;
    border: 1.098px solid #fff;
    background: rgba(255, 255, 255, 0.01);
    width: 65px;
    height: 65px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 24.742px;
    font-style: normal;
    font-weight: 500;
    line-height: 182.3%;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #121212;
      background: #fff;
    }
  }

  &__num-avalaible {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 0 42px 0;
    p {
      width: 65px;
      color: #ef4d4d;
      text-align: center;
      font-family: Montserrat;
      font-size: 11.043px;
      font-style: normal;
      font-weight: 500;
      line-height: 182.3%;
    }
  }

  &__buy-btn {
    width: 192px;
    height: 42px;
    color: #080808;
    text-align: center;
    font-family: Halvar Breitschrift;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 90% */
    text-transform: uppercase;
    border-radius: 230px;
    background: #fff;
    cursor: pointer;
    margin-right: 24px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
      border: 3px solid #fff;
      background-color: transparent;
    }
  }

  &__pay-partly {
    color: #fff;
    width: 192px;
    height: 46px;
    background-color: transparent;
    border: 3px solid #fff;
    text-align: center;
    font-family: Halvar Breitschrift;
    font-size: 24px;
    font-style: normal;
    border-radius: 230px;
    font-weight: 500;
    line-height: 21.6px; /* 90% */
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #080808;
      background: #fff;
    }
  }

  &__preorder {
    color: #fff;
    text-align: left;
    font-family: Halvar Breitschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    width: fit-content;
    padding: 24px;
    margin: 42px 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
  }

  &__material {
    color: #fff;
    font-family: Halvar Breitschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 21.6px;
    margin: 0 0 42px;
  }

  &__set {
    color: #fff;
    font-family: Halvar Breitschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 21.6px;
	margin: 0;
  }
}
